<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.philocalyst.thingssearch</string>
	<key>connections</key>
	<dict>
		<key>2970C279-91EC-4638-903A-FFC681827146</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA04E9CA-75A9-48D7-AC0E-F243FEEF62E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E889D3D-2D95-49D2-8FA4-633DB070BE83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2970C279-91EC-4638-903A-FFC681827146</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Philocalyst</string>
	<key>description</key>
	<string>Simple search for things!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Things Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:SEARCH_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>Workflow/things_search.lua</string>
				<key>subtext</key>
				<string>Search your todos</string>
				<key>title</key>
				<string>Things Search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2970C279-91EC-4638-903A-FFC681827146</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4E889D3D-2D95-49D2-8FA4-633DB070BE83</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CA04E9CA-75A9-48D7-AC0E-F243FEEF62E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Search Things, Powerfully (Alfred Workflow)

Search Things as if you were there, except in Alfred.

![ishare-1738002952-arc](https://github.com/user-attachments/assets/f7261237-bbee-4e31-bbd4-61ccc44f8bfa)
![ishare-1738002920-arc](https://github.com/user-attachments/assets/3db47d3c-91ed-413e-8905-ebd8de9b44e2)


## Usage

Find Todos using match search, via the keyword "ths" (User-changeable).
Select a todo and get brought to its location in the things app.

## Dependencies

All of the below can be installed with one simple command:
'brew install luajit luarocks'
(The libraries are default bundled)

- luaJIT (Ensure this is installed on your system)
- luarocks
- Libraries
    - https://luarocks.org/modules/tomasguisasola/luasql-sqlite3
    - https://luarocks.org/modules/jiyinyiyong/json-lua

## Finding Things Database Path

- Ensure that you have "Show hidden files on" in Finder
- Then, enter Library -&gt; Group Containers -&gt; (WEIRD NUMBER STRING)com.culturedcode.Thingsmac -&gt; ThingsData(MORE NUMBERS) -&gt; (something)database(something) -&gt; RIGHT CLICK ON IT -&gt; "Show package contents"
- Then you need to select main.sqlite - Basic solution: While selected, go to the Edit menu -&gt; copy as pathname
  Yay!!!!</string>
	<key>uidata</key>
	<dict>
		<key>2970C279-91EC-4638-903A-FFC681827146</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>4E889D3D-2D95-49D2-8FA4-633DB070BE83</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>CA04E9CA-75A9-48D7-AC0E-F243FEEF62E3</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/Library/Group Containers/JLMPQHK86H.com.culturedcode.ThingsMac/ThingsData-QZTVJ/Things Database.thingsdatabase/main.sqlite</string>
				<key>placeholder</key>
				<string>Enter here...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string>This is only if the workflow seems to have blank results, meaning your database path is irregular. Details are in the documentation.</string>
			<key>label</key>
			<string>(OPTIONAL) Things Database Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>THINGS_DATABASE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ths</string>
				<key>placeholder</key>
				<string>Enter here...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SEARCH_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>50</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>1000</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Lower improves performance.</string>
			<key>label</key>
			<string>Max Number of Results</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>MAX_RESULTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Yes:</string>
			</dict>
			<key>description</key>
			<string>Will perform a sensitive search if your search query includes an uppercase character.</string>
			<key>label</key>
			<string>Automatic case sensitive?</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SMART_CASE</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.99.3</string>
	<key>webaddress</key>
	<string>https://github.com/philocalyst/AlfredThingsSearch</string>
</dict>
</plist>
